@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
	--bgColor: rgb(56, 208, 165);

	--titleBaseTextColor: rgb(203, 255, 231);
	--titleHoverTextColor: rgb(186, 255, 108);

	--boxBgColor:  #178CE9;
	--boxBdColor: rgb(39, 39, 39);

	--luckTextColor: #23DFF8;
	--luckBgColor: black;

	--slotBgColor: black;
}

body {
	background-color: var(--bgColor);
	margin: 20px 20px 0px 20px;
	font-family: system-ui;
}

.page-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 4em;
	font-weight: 400;
	font-family: "Ranchers", cursive;
	text-align: center;
	margin: 40px;
	color: var(--titleBaseTextColor);
}

#ws-hack { visibility:hidden; }

.game-box {
	background-color: var(--boxBgColor);
	border: 5px solid var(--boxBdColor);
	border-radius: 10px;
	max-width: 400px;
	margin: 0 auto;
	padding: 25px;
	text-align: center;
	font-size: 25px;
}

#try-your-luck {
	font-family: 'Monoton', cursive;
	font-size: 32px;
	background-color: var(--luckBgColor);
	color: var(--luckTextColor);
	margin: 0px 5px 40px 5px;
	padding: 5px 0px 5px 0px;
	border: 1px solid black;
	border-radius: 5px;
}

.slot-machine {
	height: 120px;
	margin: 5%;
}

.grid-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 120px;
	gap: 5px;
	grid-template-areas: "s1 s2 s3";
}

/* CSS Grid Containers */
.s1 { grid-area: s1; }
.s2 { grid-area: s2; }
.s3 { grid-area: s3; }

.slot { 
	background-color: var(--slotBgColor);
	border-radius: 10px;
}

.icon {
	margin-top: 15%;
	width: 80px;
	height: 80px;
}

/* Icon Color Adjustments */
.air-freshener { fill: lime; }
.anchor { fill: grey; }
.atom { fill: white; }
.table-tennis { fill: yellow; }
.hat-cowboy-side { fill: saddlebrown; }

#spin-btn {
	width: 115px;
	height: 65px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 0;
	outline: none;
	border-radius: 40px;
}

#spin-btn:hover { background-color: rgb(140, 251, 255); }

.footer-container {
	padding: 0px 20px 0px 0px;
	bottom: 0;
	right: 2;
	width: 100%;
	height: 220px;
	font-size: 14px;
}

.play-again-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

#reset-btn {
	visibility: hidden;
	text-align: center;
	font-weight: bold;
	color: green;
	background-color: var(--titleBaseTextColor);
	border: 3px solid rgb(54, 255, 47, 0.75);
	border-radius: 10px;
	padding: 10px;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#reset-btn:hover {
	color:rgb(0, 255, 0);
	background-color: whitesmoke;
}

#stats-title { padding: 0px; }

#stats-title a {
	color: black;
	text-decoration: none;
}

#stats-title a:hover{ color: rgb(117, 43, 255); }

.game-stats {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.ul { text-decoration: underline; }

.number {
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.15em;
}
